* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  padding-inline: 32px;
}

h1 {
  text-align: center;
}

a {
  color: inherit;
}

ul li {
  list-style-type: none;
}

p {
  line-height: 1.5;
}
